/* Unashamedly taken from: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */

.warn {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(4px, 0, 0);
	}
}

/* Search */

#search {
	padding: 10px;
}

#search input {
	outline: none;
}

/* Scoreboard */

ul {
	list-style-type: none;
	padding: 0px;
}

h3 {
	font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
	float: left;
	margin: 0px 15px 0px 0px;
	border-radius: 50px;
}

li p {
	font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
	padding: 10px;
	overflow: auto;
	border-top: 1px solid #ccc;
}

li:first-child {
	border-top: 0px;
}

ul li button {
	font-weight: bold;
	color: #999;
	cursor: pointer;
	float: right;
}

/* General */

.border {
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0px 8px 6px -6px #444;
}
